#cart-sidebar{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  background-color: #c94646;
  height: 100%;
  min-width: 500px;
  z-index: 1000;
}

.minimize-cart{
  position: absolute;
  top: 10px;
  right: 10px;
}

.minimize-cart:hover{
  color: #c94646;
  cursor: pointer;
}

#cart-header {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font: 1.5rem/1.2 'Poppins', sans-serif;
  color: var(--text-dark);
}

#cart-items-container {
  margin: 30px 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 40px;
}

#item {
  display: flex;
  max-height: 50px;
  gap: 20px;
  align-items: center;
}

#cart-item-img {
  width: 48px;
  height: 48px;
}

#item-info {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

#item-name {
  flex: 1;
  font: 1.4rem/1.2 'Poppins', sans-serif;
  font-weight: bold;
}

#item-price {
  font: 1rem/1.2 'Poppins', sans-serif;
  font-weight: bold;
}

#quantity-selector {
  flex: 0.9;
}

#quantity-selector > input{
  padding: 5px;
  height: 100%;
  width: 50px;
  font: 1rem/1.2 'Poppins', sans-serif;
  border-radius: 2px;
}

#quantity-selector > input:focus{
  outline: 2px solid var(--input-border-focus);
  border: none;
}

.trash-icon{
  justify-self: flex-end;
}

#total-summary {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font: 1.4rem/1.2 'Poppins', sans-serif;
  padding: 20px 20px;
  justify-content: flex-end;
}

#total-summary > p {
  display: flex;
  justify-content: space-between;
}

#total {
  font-weight: bold;
}

#button-bar > button{
  width: 100%;
}

