.card-title-container {
  display: flex;
  
  justify-content: space-between;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
}

.description-text {
  flex: 1;
  font-size: 2rem;
}

.description-container {
  height: 9rem;
  padding: .5rem;
}

.product-card {
  /* flex-grow: 1;
    display: inline-block; */
  padding: 2rem 2rem 2rem 2rem;
  font-family: 'Poppins', sans-serif;
}

.btn {
  background: transparent;
  background-color: transparent;
  position: relative;
  bottom: 1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  color: #fda4ba;
  font: 2rem 'Jua', sans-serif;
  border-radius: 1rem;
  border: 2px solid #fda4da;
}

.btn:hover {
  background-color: white;
  color: rgb(245, 22, 115);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 1rem;
}

.card-container {
  justify-content: center;
}

.image-container > img {
  filter: brightness(100%) contrast(70%)
  drop-shadow(5px 5px 5px rgb(77, 74, 74));
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}