@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Gideon+Roman&family=Jua&family=Lora&family=Roboto+Condensed:wght@300&display=swap');

html {
  font-size: 62.5%; /* Sets default font size to 10px (1rem) */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

/* body,
input,
button,
select,
textarea {
  font: 1.6rem 'Jua', sans-serif;
} */

.navbtn {
  background: transparent;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  color: white;
  text-shadow: 1px 1.5px rgb(129, 123, 123);
  /* text-decoration: rgb(17, 199, 32); */
  /* align-items: center; */
  cursor: pointer;

  /* border-radius: 5px; */
  font: 2rem 'Jua', sans-serif;
  /* margin-top: -10 rem; */
  /* margin: 1rem 3rem 0rem 3rem; */
}

.navbtn:hover {
  background-color: white;
  color: rgb(245, 22, 115);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 1rem;
  /* box-shadow: .3rem .3rem rgb(153, 153, 147); */
}

.icon {
  color: rgb(245, 22, 115);
}
.icon:hover {
  color: white;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.bi-heart-fill {
  padding: 0 0.5rem 0 0.5rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

#navbar {
  border: 5px solid white;
  border-left: none;
  border-right: none;
  flex: 1;
  width: 100%;
  height: 6rem;
  background: rgb(88, 67, 67);
  /* background-image: url(https://i.pinimg.com/originals/3b/b4/f7/3bb4f7f58259e532773cb137ce84816b.jpg); */
  /* padding: -1rem; */
  /* margin: 2rem 0 0 2rem; */
  /* position: absolute; */
  /* box-shadow: 5px 5px 5px rgb(138, 138, 133); */
  display: flex;
  justify-content: space-evenly;
  /* position: fixed; */
  position: sticky;
  z-index: 25;
  top: 0;
  align-items: center;
}
#img1 {
  filter: contrast(90%) brightness(120%);
  filter: saturate(90%);
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* img {
  filter: brightness(100%) contrast(70%)
    drop-shadow(5px 5px 5px rgb(77, 74, 74));
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

#quote {
  text-shadow: -2px -1px 0 rgb(172, 184, 103), 2px -1px 0 rgb(172, 184, 103),
    -2px 1px 0 rgb(172, 184, 103), 2px 1px 0 rgb(172, 184, 103);
  color: rgb(243, 239, 239);
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 8rem;
  margin: 25rem;
  margin-top: 40rem;
  margin-right: -2rem;
  margin-left: 32rem;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: 'Lora', serif;

  animation: glitch 1s linear infinite; /* other keywords like "infinite alternate" can be useful here */
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

#quote:before,
#quote:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

#quote:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

#quote:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.footer {
  border: 5px solid white;
  border-left: none;
  border-right: none;
  font: 2.5rem 'Roboto Condensed', sans-serif;
  position:fixed;
  display:none;

  padding: 3px 3px 3px 3px;
  bottom: 0;
  width: 100%;
  bottom: 0;
  grid-area: footer;
  background-color: rgb(88, 67, 67);
  color: white;
  /* text-shadow: -1px -1px 0 rgb(61, 59, 59), 1px -1px 0 rgb(61, 59, 59),
    -1px 1px 0 rgb(61, 59, 59), 1px 1px 0 rgb(61, 59, 59); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  min-width: 100%;
  min-height: 100%;
  height: 10rem;
  /* grid-area: header; */
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
  /* font: 'Cute Font', cursive; */
  background-color: #fda4ba;
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,214,148,1) 100%); */
  /* background-image: url(https://i.pinimg.com/474x/3a/46/1c/3a461c1e7cadb29f791b91e464d4aad5.jpg); */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: sticky;
  z-index: 25;
  top: 0;
  /* overflow-x: hidden; */
}

.title {
  font: 7rem 'Cute Font', cursive;
}

a {
  font: 4rem 'Cute Font', cursive;
  /* position: fixed; */
  position: sticky;
  z-index: 25;
  top: 0;
  animation-duration: 800ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-decoration: none;
}

@-webkit-keyframes blink {
  0% {
    color: rgb(202, 132, 132);
  }
  20% {
    color: rgb(218, 172, 119);
  }
  40% {
    color: rgb(183, 187, 126);
  }
  60% {
    color: rgb(65, 134, 114);
  }
  80% {
    color: rgb(122, 202, 226);
  }
  100% {
    color: rgb(156, 122, 212);
  }
}

.brand {
  display: flex;
  position: fixed;
}

.brand a {
  color: #fdfdd7;
  text-shadow: 2px 2px rosybrown;
  /* text-shadow: -1px -1px 0 rosybrown, 1px -1px 0 rosybrown,
    -1px 1px 0 rosybrown, 1px 1px 0 rosybrown; */
  letter-spacing: 1px;
  font-size: 5.5rem;
  font-weight: bold;
  padding: 60px;
  text-decoration: none;
  /* position: absolute; */
}

.login {
  position: absolute;
  right: 0px;
}

html,
body,
#root {
  background-image: url(https://wallpaperaccess.com/full/2637206.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  height: 30%;
}
